* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mandali", Arial, sans-serif;;
}
body {
    background-color: rgb(254, 225, 229);
}
/*Main part with header, game board and reset button*/
.playGround {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playGround h1 {
    color: palevioletred;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 25px;
}
.board {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.board > div {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board > div:hover {
    background-color: rgb(214, 147, 169);
}
.board > div span {
    visibility: hidden;
}
.left-top {
    border-radius: 20px 0 0 0;
}
.right-top {
    border-radius: 0 20px 0 0;
}
.left-bottom {
    border-radius: 0 0 0 20px;
}
.right-bottom {
    border-radius: 0 0 20px 0;
}
.board div p {
    color: white;
    font-size: 40px;
    font-weight: 900;
}
.reset {
    margin-top: 20px;
    padding: 3px 7px;
    border: none;
    background-color: transparent;
    color: palevioletred;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.reset:hover {
    color: pink;
}
.resultWindow {
    /* visibility: visible; */
    /* position: absolute; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    width: 50%;
    width: 350px;
    height: 190px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}
.resultWindow p {
    margin-top: 50px;
    color:palevioletred;
    font-weight: 900;
    font-size: 30px;
}
::backdrop {
    background-color: rgb(222, 220, 220);
    opacity: 0.7;
  }
